/workshop1/CMakeCache.txt
/workshop1/Makefile
/workshop1/CMakeFiles
/workshop1/cmake_install.cmake
/workshop1/workshop1.1/Makefile
/workshop1/workshop1.1/workshop1.1.exe
/workshop1/workshop1.1/CMakeFiles
/workshop1/workshop1.1/cmake_install.cmake
/workshop1/workshop1.2/Makefile
/workshop1/workshop1.2/CMakeFiles
/workshop1/workshop1.2/cmake_install.cmake
